<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SurveyApp</a>
      <a class="navbar-link" [routerLink]="['dashboard']" *ngIf="auth.authenticated()">Dashboard</a>
      <button class="btn btn-default" style="margin-left: 1010px; margin-top: 10px;"
              [routerLink]="['login']" *ngIf="!auth.authenticated()">Login</button>
      <button class="btn btn-default" style="margin-left: 1010px; margin-top: 10px;"
              (click)="auth.logout()" *ngIf="auth.authenticated()">Salir</button>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
