<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Cantidad de inscriptos por materia</a></li>
        <li><a href="#">Alumnos</a></li>
        <li><a href="#">Cantidad de alumnos que respondió</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div>
</div>


<h2>Dogs</h2>
<p>List of dogs</p>
<ul class="demo-list-icon mdl-list">
  <li class="mdl-list__item" *ngFor="let subject of subjects">
        <span class="mdl-list__item-primary-content">
            <a [routerLink]="['/dogs']">{{subject.subject_name}}</a>
        </span>
  </li>
</ul>


