  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a routerLink="/dashboard/overview" routerLinkActive="active"> Overview <span class="sr-only">(current)</span></a></li>
          <li><a routerLink="/dashboard/students" routerLinkActive="active">Alumnos</a></li>
          <li><a routerLink="/dashboard/student-statics" routerLinkActive="active">Ver porcentaje de inscripciones</a></li>
          <li><a routerLink="/dashboard/survey-statics" routerLinkActive="active">Ver porcentaje de encuestas</a></li>
        </ul>
      </div>
    </div>
</div>
<router-outlet></router-outlet>





