<div class="custom-container">
<h2>Porcentaje de ocupación de materias por comisión</h2>

  <div class="table-responsive">

  <table class="table table-bordered">
    <tr>
      <td>Materia</td>
      <td>C1</td>
      <td>C2</td>
      <td>C3</td>
      <td>C4</td>
      <td>No cursa</td>
      <td>Ya cursó</td>
      <td>Horario</td>
    </tr>
    <tr *ngFor="let subject of subjectsStatisticsBySubject">
      <td>{{subject.subject}}</td>
      <td class="subject.c1.status">{{subject.c1.percentage}}%</td>
      <td class="subject.c2.status">{{subject.c2.percentage}}%</td>
      <td class="subject.c3.status">{{subject.c3.percentage}}%</td>
      <td class="subject.c4.status">{{subject.c4.percentage}}%</td>
      <td>{{ subject.noCursan}}</td>
      <td>{{ subject.yaCursaron}}</td>
      <td>{{ subject.horario}}</td>
    </tr>

  </table>

</div>
</div>
<router-outlet></router-outlet>
