<div class="custom-container">


  <h2>Agregar nuevo estudiante</h2>

    <form *ngIf="active" (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #student_name="ngModel">
        <small id="nameHelp" class="form-text text-muted">Completar con nombre del alumno</small>
      </div>
      <div class="form-group">
        <label for="legajo">Legajo</label>
        <input type="text" class="form-control" id="legajo"
               [(ngModel)]="model.legajo" name="legajo" >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
