<div class="container">

<h2>Agregar nuevo estudiante</h2>

  <form>
    <div class="form-group">
      <label for="nameInput">Nombre</label>
      <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Ingresar el nombre">
      <small id="nameHelp" class="form-text text-muted">Completar con tu nombre</small>
    </div>
    <div class="form-group">
      <label for="legajoInput">Legajo</label>
      <input type="text" class="form-control" id="legajoInput" placeholder="Legajo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
