<div class="custom-container-n">
  <h2>Porcentaje de encuestas completas</h2>
  <div *ngIf="subjectsCompleteness">

    <div class="x_content">
      <div class="row">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i>
            </div>
            <div class="count">{{subjectsCompleteness.cant_students}}</div>

            <h3>Alumnos</h3>
            <p>Cantidad de alumnos inscriptos.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i>
            </div>
            <div class="count">{{subjectsCompleteness.cant_surveys}}</div>

            <h3>Encuestas</h3>
            <p>Cantidad de encuestas realizadas.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-comments-o"></i>
            </div>
            <div class="count">{{subjectsCompleteness.percentage}}%</div>

            <h3>% Encuestas</h3>
            <p>Porcentaje de encuestas realizadas.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<router-outlet></router-outlet>
