.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.back-page{
  color: #C0C0C0;
}


.jumbotron p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 200;
}
